# all data files created by the program
*.hs
*.s
*.hv
*.v
*.ahv
!data/*
*.png

# pycache
*__pycache__/

# directory for testing etc
ignore/

tmp/

*.ipynb

results/

analysis/

src/BSREM/partitioner

scripts/

src/structural_priors/obsolete/

PSMR_presentation/